#!/bin/bash

# down the app if it is up
docker compose -f /app/docker-compose.yml down

# relaunch with ansadmin user
su {{ans_user}}
docker compose -f /app/docker-compose.yml --env-file /app/.env up -d
